I need to rebuild legacy application which runs un trey and connects web app and printer. On web app user selects orders for printing,
 print client downloads pdf or zpl file form web app, prints it, and marks order as printed using call to web app.
 
 Legacy application is in Techdinamics.PrintClient project.
 
 I added new project Techdinamics.Ship.PrintService.
 
 Requirements for new application are:
 1. written in .NET
 2. Should run inside docker container.
 3. Should be compatible with different operating systems/architectures (i.e. I need to run docker container on windows, on linux, mac os, etc. - including server operating systems). I also would like to support both x86/x64 and ARM architectures.
 4. Docker container should be configurable, so I can configure credentials to connect to web app (portal, API key), and printer.
 5. I need guide for end user how to install and configure docker container.
 6. I neeed unit test project to test what is developed. In unit test project I would like to mock server API to test everything. 
 
 As fist part, analyze task, create plan subfolder in project, split task into multiple subtasks, for each subtask generate separate text file with prompt, so I can run agent on each subtask.